@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Global*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Open Sans", sans-serif;
}
*:active, *:hover, *:focus{
	outline: none;
}

body{
	/*background: #ddd;*/
	background: #fff;
}

a{
	text-decoration: none;
	color: #ececec;
}

.container{
	width: 80%;
}

/*Header*/
#main-header{
	color: #ececec;
}

#main-header .background{
	z-index: -1;
}

#main-header .background img{
	position: absolute;
	width: 100%;
	height: 100vh;
	-webkit-filter: grayscale(100%) brightness(25%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%) brightness(25%);
}

#main-header .info{
	height: 65vh;	
	margin-top: 20vh;
	box-sizing: border-box;
}

#main-header .info .left{
	text-align: center;
	height: 100%;
}

#main-header .info .left img{
	width: 75%;
	border-radius: 50%;
	border: solid 5px #ececec;
	box-shadow: 0 0 20px 0 #111;
}

#main-header .info .right{
	height: 100%;
	text-align: justify;
}

#main-header .info .short{
	position: absolute;
	bottom: 0;
	right: 0;
	top: auto;
	left: auto;
}

#main-header .info .right i{
	padding: 0 20px 40px 0;
	font-size: 400%;
}

#main-header .next{
	text-align: center;
	font-size: 3.5rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-header .next i:hover{	
	animation: pause;
	transition: .5s;
	cursor: pointer;
}

/*Showcase*/
#showcase{
	box-sizing: border-box;
	background: #fefefe;
}

.owl-section{
	text-align: center;
	height: 45vh;
}

#showcase .owl-item{
	height: 100%;
}

#showcase .owl-item p{
	display: none;
}

#showcase .owl-item img{
	padding: 20px;
	height: 100px;
	filter: grayscale(85%);
}

#showcase .owl-item:hover img{
	filter: none;
	height: 120px;
	transition: .3s;
	cursor: pointer;
}

#showcase .owl-item.center img{
	filter: none;
	height: 150px;
	transition: .5s;
}

#showcase .wrapper{
	padding: 20px;
}

#showcase .owl-section h1{
	text-align: center;
	font-size: 200%;
	padding: 20px 0 20px 0;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

#showcase .owl-section small{
	color: #666;
	font-size: 1.3rem;
}

.owl-nav{
	z-index: -1;
	top: 7vh;
	height: 100px;
	width: 100%;
	position: absolute;
}

.owl-prev, .owl-next{
	z-index: 2;
	font-size: 200%;
	color: #ddd;
}

.owl-prev{
	float: left;
	margin-left: -25px;
	
}

.owl-next{
	float: right;
	margin-right: -25px;
}

.owl-prev:hover, .owl-next:hover{
	font-size: 250%;
	margin-top: 0vh;
	color: #111;
	transition: .3s;
}

/*Tip*/
.tip{
	height: auto;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	text-align: center;
	margin-top: 15px;
}

.tip h1{
	padding: 15px;
}

.tip .left{
	max-height: 100%;
}

.tip .left img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 19vh;
	margin: 10px;
}

.tip p{
	text-align: justify;
}

.tip .back{
	clear: both;
}

.tip .back i{
	color: #333;
	font-size: 45px;
	padding-top: 10px;
}


@media(max-width: 768px){
	
	/*Global*/

	.container{
		width: 100%;
	}

	#showcase .wrapper{
		width: 100%;
		padding: 0;
	}

	/*Header*/

	#main-header .info{
		margin-top: 0;
	}

	#main-header .info .left{
		padding-top: 10vh;
		height: 50vh;
	}

	#main-header .info .left h1{
		font-size: 200%;
	}

	#main-header .info .left img{
		width: auto;
		height: 70%;
	}

	#main-header .info .short{
		position: relative;
		width: 100%;
		height: 100%;
	}

	#main-header .info .right{
		height: 50vh;
		margin-top: 0;
		font-size: 100%;
		overflow: hidden;
	}

	#main-header .right .social{
		text-align: center;
		margin: 0;
	}

	#main-header .right .social i{
		margin: 5vh 0 5vh 0;
		height: 5vh;
		font-size: 300%;
	}

	#main-header .right p{
		padding: 0 20px 0 20px;
	}

	#main-header .next{
		margin-top: 22vh;
		margin-bottom: 10vh;
	}

	/*Showcase*/
	.owl-section{
		width: 80%;
		min-height: 300px;
		margin: auto;
		margin-bottom: 15px;
	}

	/*Tip*/

	.tip{
		max-height: auto;
	}

	.tip img{
		width: 100%;
	}

	/*Navs*/


	.owl-prev{
		margin-left: -20px;
		z-index: 30;
		
	}

	.owl-next{
		margin-right: -20px;
		z-index: 30;
	}
}

@media(max-height: 546px) and (min-width: 468px){
	#main-header .info{
		margin-top: 5vh;
		font-size: 100%;
	}

	#main-header .left.col-md-6 img{
		height: 100%;
	}

	#main-header .right.col-md-6{
		margin-top: 5vh;
		height: auto;
	}

	#main-header .next{
		margin-top: 5vh;
		margin-bottom: 15vh;
	}

	.left, .right{
		float: left;
		width: 50%;
	}

	.owl-section{
		min-height: 300px;
	}
}

@media(min-width: 760px) and (max-height: 760px){
	#main-header .right.col-md-6{
		margin-top: 70vh;
		height: auto;
	}
}

/* Animations */

@keyframes bounce{
	0%{transform: translate(0, -10px);}
	50%{transform: translate(0, 0px);}
	100%{transform: translate(0, -10px);}
}

#main-header .next i{
	animation-name: bounce;
	animation-duration: .8s;
	animation-iteration-count: infinite;
}

#main-header .social a:hover i{
	animation-name: bounce;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	color: #fff;
}